
body{font-family:Arial;margin:0;background:#eef2f7}
header{background:#0b3d91;color:white;text-align:center;padding:15px;font-size:20px}
.box{background:white;width:300px;margin:120px auto;padding:30px;border-radius:10px;text-align:center}
.card{background:white;margin:20px;padding:20px;border-radius:10px}
input{width:100%;padding:10px;margin:10px 0}
button{padding:10px 20px;background:#0b3d91;color:white;border:none;cursor:pointer}
.dark{background:#111;color:white}
.dark .card{background:#1e1e1e}
